
.is-generic-social-media{
    color: $generic-social-media-color-invert;

    background-color: $generic-social-media-color !important;

    &:hover, &:focus{
        background-color: $generic-social-media-color !important;
        color: $generic-social-media-color-invert;
    }
}


.is-reddit{
    color: $reddit-color-invert;
    background-color: $reddit-color;

    &:hover, &:focus{
        background-color: $reddit-color !important;
        color: $reddit-color-invert;
    }
}


.is-borderless{
    border: none !important;
    &:focus {outline:0;}
}
