
// Both fonts are loaded through Google
$primary-font:'Nunito Sans', sans-serif;


$open-book-primary-color: #690ddc;
$open-book-primary-color-invert: white;
$generic-social-media-color: #4f6398;
$generic-social-media-color-invert: white;
